In [31]:

import csv
import pandas as pd

#create variable to store combined values
dic = {"Date": [], "Revenue": []}
print(dic)
#open documents and append to dictionary dic
csv_path1 = "budget_data_1.csv"
csv_path2 = "budget_data_2.csv"

with open(csv_path1, newline='') as csvfile:
    csvreader1 = csv.reader(csvfile, delimiter=',')
    next(csvreader1, None)
    for row in csvreader1: 
        dic["Date"].append(row[0])
        dic["Revenue"].append(row[1])
with open(csv_path2, newline='') as csvfile:
    csvreader2 = csv.reader(csvfile, delimiter=',')
    next(csvreader2, None)
    for rows in csvreader2:
        dic["Date"].append(rows[0])
        dic["Revenue"].append(rows[1])

    
df_dic = pd.DataFrame(dic)
clean_dic = df_dic.drop_duplicates(["Date"], keep=False)

Months = clean_dic["Date"].index[-1] + 1

num_dic = pd.to_numeric(clean_dic["Revenue"])
x = pd.DataFrame(num_dic)
Total_Revenue = x["Revenue"].sum()
Total_Change = ((x["Revenue"][0])- (x["Revenue"][126]))
print(Total_Change)
max = x["Revenue"].max()
min = x["Revenue"].min()

#Finalize Outputs for report
Output1 = "Total Months: " + str(Months)
Output2 = "Total Revenue: " + str(Total_Revenue)
Output3 = "Average Revenue Change: " + str(Total_Change/Months)
Output4 = "Greatest Increase in Revenue: $" + str(max)
Output5 = "Greatest Decrease in Revenue: $" + str(min)

#Write outfile
Output = "financial_analysis_output.csv"
with open(Output, "w", newline="") as datafile:
    writer = csv.writer(datafile)
    writer.writerow([Output1])
    writer.writerow([Output2])
    writer.writerow([Output3])
    writer.writerow([Output4])
    writer.writerow([Output5])
    
df_dic

{'Date': [], 'Revenue': []}
716804

         Date   Revenue
0      Oct-12   1154293
1      Nov-12    885773
2      Dec-12   -448704
3      Jan-13    563679
4      Feb-13    555394
5      Mar-13    631974
6      Apr-13    957395
7      May-13   1104047
8      Jun-13    693464
9      Jul-13    454932
10     Aug-13    727272
11     Sep-13    125016
12     Oct-13    339251
13     Nov-13     78523
14     Dec-13    977084
15     Jan-14   1158718
16     Feb-14    332681
17     Mar-14   -341227
18     Apr-14    173826
19     May-14    742611
20     Jun-14   1189806
21     Jul-14    607363
22     Aug-14  -1172384
23     Sep-14    587993
24     Oct-14    295198
25     Nov-14   -300390
26     Dec-14    468995
27     Jan-15    698452
28     Feb-15    967828
29     Mar-15   -454873
..        ...       ...
97   Sep-2013    339680
98   Oct-2013    809253
99   Nov-2013    924494
100  Dec-2013    998347
101  Jan-2014   -524902
102  Feb-2014    747765
103  Mar-2014    197783
104  Apr-2014    131625
105  May-2014   1016992
106  Jun-2014   -930753
107  Jul-2014    714387
108  Aug-2014    201005
109  Sep-2014    655535
110  Oct-2014    845108
111  Nov-2014    101736
112  Dec-2014    -93063
113  Jan-2015    984921
114  Feb-2015   -362343
115  Mar-2015    940457
116  Apr-2015    216399
117  May-2015    363036
118  Jun-2015    672160
119  Jul-2015    783533
120  Aug-2015   1079882
121  Sep-2015    288933
122  Oct-2015    894500
123  Nov-2015    411593
124  Dec-2015    789575
125  Jan-2016    355838
126  Feb-2016    437489

[127 rows x 2 columns]

0    1154293
1     885773
2    -448704
3     563679
4     555394
Name: Revenue, dtype: int64